package {{.ServiceName}}_service

import (
	"context"

	"{{.ModuleName}}/internal/core/model"
	"{{.ModuleName}}/internal/core/repository"
	"{{.ModuleName}}/internal/core/usecase"
)

type {{.Name}}Input struct {
	// TODO: Define fields
}
type {{.Name}}Output struct {
	// TODO: Define fields
}
type {{.Name}} model.Service[{{.Name}}Input, {{.Name}}Output]

type {{.Receiver}} struct {
	client  *repository.Client
	usecase *usecase.Usecases
}

func New{{.Name}}(
        repo *repository.Client,
	usecase *usecase.Usecases,
) {{.Name}} {
	return &{{.Receiver}}{
		client: repo,
		usecase: usecase,
	}
}

func (s *{{.Receiver}}) Execute(ctx context.Context, input {{.Name}}Input) (*{{.Name}}Output, error) { {
	// TODO: Implement logic

	return &{{.Name}}Output{}, nil
}
